{{ $showDate := .showDate }}
{{ $lvl := .lvl }}
{{ with .page }}
<li>
    <div>
    <h{{$lvl}}>
    {{ with .Params.externalUrl }}
        <a href="{{ . }}" target="_blank" rel="external">
    {{ else }}
        <a href="{{ .RelPermalink }}">
    {{ end }}
    {{ .LinkTitle | emojify }} </a>
    </h{{$lvl}}>
    {{ partial "single/meta.html" . }}
    {{ template "partials/home/pg-desc.html" . }}
    </div>

    <!-- Thumbnail -->
    {{ if .Params.coverImg }} 
        <img src="{{ .RelPermalink }}{{ .Params.coverImg }}" alt="{{ .LinkTitle }}" class="thumbnail" />
    {{ end }}
</li>
{{ end }}
